{% extends '_template.html.twig' %}

{% block title %}Shoot index{% endblock %}

{% block content %}
{% include 'includes/flash.html.twig' %}
    <h1>Liste des programmation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Plateform</th>
                <th>Start</th>
                <th>Description</th>
                <th>Volume</th>
                <th>Dépense</th>
                <th>C.A</th>
                <th>Bénéfice</th>
            </tr>
        </thead>
        <tbody>
        {% for shoot in shoots %}
            <tr>
                <td>{{ shoot.id }}</td>
                <td>{{ shoot.title }}</td>
                <td>{{ shoot.plateform.nom }}</td>
                <td>{{ shoot.start ? shoot.start|date('d/m/Y H:i') : '' }}</td>
                <td>{{ shoot.description }}</td>
                <td>{{ shoot.volume }}</td>
                {% if shoot.resultat != null %}
                <td>{{ (shoot.resultat.volumeEnvoye * (shoot.prestation.prix / 100000))|number_format(2, '.', ' ') }}</td>
                <td>{{ (shoot.resultat.resultat * (shoot.campagne.remuneration / 100))|number_format(2, '.', ' ') }}</td>
                <td>{{ ((shoot.resultat.resultat * (shoot.campagne.remuneration / 100))-(shoot.resultat.volumeEnvoye * (shoot.prestation.prix / 100000)))|number_format(2, '.', ' ') }}</td>
                {% else %}
                 <td><div class="text-muted h6 small">En attente</div></td>
                 <td><div class="text-muted h6 small">En attente</div></td>
                 <td><div class="text-muted h6 small">En attente</div></td>
                {% endif %}             
                <td>
                
                    <a class="btn btn-primary" href="{{ path('shoot_show', {'id': shoot.id}) }}">show</a>
                    {% if is_granted("ROLE_SUPERADMIN") %}
                    <a class="btn btn-primary" href="{{ path('shoot_edit', {'id': shoot.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('shoot_new') }}">Create new</a>
{% endblock %}
