{% extends "base.html.twig" %}

{% block body %}

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>The DigitLabs</h3>
        </div>

        <ul class="list-unstyled components">
            <a href="{{ path('home') }}">
            <p>Planning</p>
            </a>
            <a href="{{ path('resultat_index') }}">
            <p>Resultat</p>
            </a>
            <li>
                <a href="#plateform" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Plateform</a>
                <ul class="collapse list-unstyled" id="plateform">
                    <li>
                        <a href="{{ path('gestion_plateform') }}">Liste des plateform</a>
                    </li>
                    <li>
                        <a href="{{ path('gestion_create_plateform') }}">Créer des plateform</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#routeur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Routeur</a>
                <ul class="collapse list-unstyled" id="routeur">
                    <li>
                        <a href="{{ path('gestion_routeur') }}">Liste des routeurs</a>
                    </li>
                    <li>
                        <a href="{{ path('gestion_create_routeur') }}">Créer un routeur</a>
                    </li>
                    <li>
                        <a href="{{ path('gestion_prestation') }}">Fixer un prix</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('gestion_list_prestation') }}">Liste Routeur/Platefom</a>
            </li>
            <li>
                <a href="#annonceur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Annonceur</a>
                <ul class="collapse list-unstyled" id="annonceur">
                    <li>
                        <a href="{{ path('gestion_annonceur') }}">Liste des annonceurs</a>
                    </li>
                    <li>
                        <a href="{{ path('gestion_create_annonceur') }}">Créer un annonceur</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#campagne" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Campagne</a>
                <ul class="collapse list-unstyled" id="campagne">
                    <li>
                        <a href="{{ path('gestion_campagne') }}">Liste des campagne</a>
                    </li>
                    <li>
                        <a href="{{ path('gestion_create_campagne') }}">Créer une campagne</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#base" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Base</a>
                <ul class="collapse list-unstyled" id="base">
                    <li>
                        <a href="{{ path('gestion_base') }}">Liste des Bases</a>
                    </li>
                    <li>
                        <a href="{{ path('gestion_create_base') }}">Créer une base</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#shoot" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Shoot</a>
                <ul class="collapse list-unstyled" id="shoot">
                    <li>
                        <a href="{{ path('shoot_index') }}">Liste des Shoot</a>
                    </li>
                    <li>
                        <a href="{{ path('shoot_new') }}">Programmer</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">contact</a>
            </li>
            <hr>
            {% if is_granted("ROLE_SUPERADMIN") %}
            <li class="active">
                <a class="nav-link" href="{{ path('admin_index') }}"> Back-Office
                </a>
            </li>
            <hr>
            {% endif %}                       
            {% if app.user %}
                <li>
                    <a href="{{ path('app_profile') }}">
                        <span class="icon">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        {{ app.user.pseudo }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">Deconexion</a>
                </li>
            {% else %}
                <li>
                <a href="{{ path('app_register') }}">Inscription</a>
                </li>
                <li>
                <a href="{{ path('app_login') }}">conexion</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Masquer</span>
                </button>

            </div>
        </nav>
    </div>
        <div class="container">
    {% block content %}{% endblock %}
        </div>
 {% endblock %}
