{% extends 'admin/_template.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block content %}
<div class="section">
        <h1 class="title">Modifier l'utilisateur</h1>

        {{ form_start(editUserForm) }}

        {{ form_row(editUserForm.email, {label: "Adresse email:"}) }}
        {{ form_row(editUserForm.pseudo, {label: "Pseudo:"}) }}
        {{ form_row(editUserForm.roles, {label: "Rôle:"}) }}
        {{ form_row(editUserForm.plateforms, {label: "Plateform:"}) }}
        <button type="submit" class="btn btn-primary fullwidth">
            Enregistrer
        </button>
        {{ form_end(editUserForm) }}
    </div>    
{% endblock %}