{% extends '_template.html.twig' %}

{% block title %}
    Prix routeur
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Prix du Routeur</h1>

        {{ form_start(prestationForm) }}

        {{ form_row(prestationForm.plateform) }}
        {{ form_row(prestationForm.routeur) }}
        {{ form_row(prestationForm.prix, {attr: {placeholder: "(160 = 1.60€, 16 = 0.16€)"}}) }}

        <button type="submit" class="btn btn-primary fullwidth">
            Enregistrer
        </button>
        {{ form_end(prestationForm) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var $prestation_form_plateform = $("#prestation_form_plateform")
        var $token = $("#prestation_form_token")

        $prestation_form_plateform.change(function ()
        {
            var $form = $(this).closest('form')
            var data = {}
            data[$token.attr('name')] = $token.val()
            data[$prestation_form_plateform.attr('name')] = $prestation_form_plateform.val()

            $.post($form.attr('action'), data).then(function (response)
            {
                $("#prestation_form_routeur").replaceWith(
                    $(response).find("#prestation_form_routeur")
                )
            })
        })
    </script>
    {% endblock %}
