{% extends '_template.html.twig' %}

{% block title %}Annonceur{% endblock %}

{% block content %}
<style>
    td {
        font-size: 16px
    }
    th {
        font-size: 12px
    }
</style>

    <h1>Liste des annonceurs</h1>

    <table class="table table-condensed table-striped">
        <thead>
            <th>Nom</th>
            <th>Nom du contact</th>
            <th>Skype du contact</th>
            <th>Adresse</th>
            <th>Telephone</th>
            <th>Email comptabilité</th>
            <th>URL plateform</th>
            <th>MDP plateform</th>
        </thead>
        <tbody>
            {% for annonceur in annonceurs %}
                <tr>
                    <td>{{ annonceur.nom }}</td>
                    <td>{{ annonceur.nomDuContact }}</td>
                    <td>{{ annonceur.skypeDuContact }}</td>
                    <td>{{ annonceur.adresse }}</td>
                    <td>{{ annonceur.telephone }}</td>
                    <td>{{ annonceur.emailComptabilite }}</td>
                    <td>
                        <a href="{{ annonceur.urlPlateform }}" target="_blank">
                            {{ annonceur.urlPlateform }}
                        </a>
                    </td>
                    
                    <td type="password">{{ annonceur.mdpPlateform }}</td>
                    <td>
                        <a href="{{ path('gestion_annonceur_page', {id: annonceur.id}) }}" class="btn btn-primary">Détail</a>
                        <a href="{{ path('gestion_edit_annonceur', {id: annonceur.id}) }}" class="btn btn-primary mt-1">Modifier</a>
                    </td>
                    <td><a href="{{ path('gestion_remove_annonceur', {id: annonceur.id, token: csrf_token('gestion_remove_annonceur')}) }}" class="btn btn-danger">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-primary" href="{{ path('gestion_create_annonceur') }}">Créer un annonceur</a>
{% endblock %}