{% extends '_template.html.twig' %}

{% block title %}Plateform{% endblock %}

{% block content %}

    <h1>Liste des Plateform</h1>

    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nom</th>
        </thead>
        <tbody>
            {% for plateform in plateforms %}
                <tr>
                    <td>{{ plateform.id }}</td>
                    <td>{{ plateform.nom }}</td>
                    <td><a href="{{ path('gestion_edit_plateform', {id: plateform.id}) }}" class="btn btn-primary">Modifier</a>                    
                    <a href="{{ path('gestion_remove_plateform', {id: plateform.id, token: csrf_token('gestion_remove_plateform')}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="box">
        <ul>
            <li><a class="btn btn-primary" href="{{ path('gestion_create_plateform') }}">Créer une Plateform</a></li>
        </ul>
    </div>

{% endblock %}